@charset "utf-8";

body{
    background-color: #FFFFFF;
    margin:0px;
    padding:0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    width: 100%;
    height: 575px;
    background-color: #f6f5f5;
    /*background-image:url();
    background-repeat:no-repeat;
    background-size: cover;
    */
    position: relative;
}

nav{
    display: flex;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12 px rgba(0, 0, 0, 0.2);
    padding: 0px 16.5%;
    
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family: monospace;
    color: #808080;
    font-size: 15px;
    font-weight: 700;
}

.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 22px;

}

.active{
    font-weight: 1000;
    font-size: 16px;
    color: #201e1e;
}

.text-container p:nth-child(1){
    font-family: monospace;
    font-weight: bolder;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2){
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #403e3e;
    font-size: 24px;
    line-height: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container{
    position: absolute;
    left: 22%;
    top: 300px;
    width: 35%;
    transform: translate(-13%, -42%);
}



.social_media a {
    font-size: 24px;
    color: #1a1a1a;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%; 
}

.social_media a:nth-child(1):hover{
    color: #b30de6;
}

.social_media a:nth-child(2):hover{
    color: #0d47e6;
}

.social_media a:nth-child(3):hover{
    color: #d14811;
}

.social_media{
    display: flex;
}

.profile{
    height: 70%;
    position: absolute;
    top:20%;
    left: 75%;
    transform: translateX(-70%);
}

.project-container{
    height: 1000px;
    width: 67.5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #FFFFFF;
    padding: 2% 0% 0px 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box-1,.box-2, .box-3, .box-4, .box-5, .box-6{
    height: 420px;
    width:29.9%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}



.box-1{
    background-image: url("image/web prototype.png");
    background-size: cover;
}


.box-2{
    background-image: url("image/game developing.PNG");
    background-size: cover;
}


.box-3{
    background-image: url("image/image-manipulation.PNG");
    background-size: cover;
}

.box-4{
    background-image: url("image/simulation constructing.PNG");
    background-size: cover;
}

.box-5{
    background-image: url("image/graphic design.png");
    background-size: cover;
}

.box-6{
    background-image: url("image/fashion design.PNG");
    background-size: cover;
}


.box-1 a,
.box-2 a,
.box-3 a,
.box-4 a,
.box-5 a,
.box-6 a{
    width: 100%;
    height: 100%;
}

.box-1 a button, 
.box-2 a button, 
.box-3 a button, 
.box-4 a button,
.box-5 a button,
.box-6 a button{
    width: 100%;
    height: 420px; 
    background-color: rgba(255, 255, 255, 0.253);
    
    text-align: start;
    border: none;
    outline: none;
    border-radius: 0px;

    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    padding-top: 85%;
    padding-left: 6%;

    cursor: pointer;
    transition-duration: 250ms;
}

.box-1 button:hover, 
.box-2 button:hover, 
.box-3 button:hover, 
.box-4 button:hover,
.box-5 button:hover,
.box-6 button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    /*
    animation-name: background-color;
    animation-duration: 500ms;
    */
  }

@keyframes background-color {
    100% {
      background-color: rgba(255, 255, 255, 0);
    }
  }

@media screen and (max-width: 1200px){
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
        width: 80%;
    }
}



