@font-face {
  font-family: Tungsten-bold;
  src: url("fonts/Tungsten-Bold.ttf");
}

@font-face {
  font-family: Tungsten-semibold;
  src: url("fonts/Tungsten-SemiBold.ttf");
}

@font-face {
  font-family: Spiegel;
  src: url("fonts/Spiegel.ttf");
}
@font-face {
  font-family: Spiegel-bold;
  src: url("fonts/Spiegel_Bold.ttf");
}

body {
  margin: 0 auto;
  position: relative;
  /* background-image: url("images/background4.jpg"); */
  background-size: cover;
  display: block;
  /* padding: 0px, 15px; */
}

/* Header */
header {
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
  padding: 30px 15px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #f4f4f4; */
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

header > img {
  width: 100%;
  height: 100%;
  max-width: 65px;
  display: flex;
  /* margin-left: 40px; */
}

nav {
  width: 25vw;
  min-width: 400px;
  font-family: Spiegel;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 0.05em;
  font-size: 1.25rem;
  line-height: 0px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

nav a:hover:before {
  content: "// ";
}

@media (max-width: 780px) {
  header {
    padding: 20px 5px;
  }
  header > img {
    max-width: 40px;
  }
  nav {
    min-width: 0px;
    width: 250px;
    font-size: 0.937rem;
  }
}

.column {
  margin: 0px auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
}

.column > img {
  margin: 5% 0px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  max-width: 50%;
  height: auto;
}

.column .text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* height: 125px; */
  /* width: 80vw; */
  padding: 5px;
}

.column .text > h1 {
  font-family: Tungsten-semibold;
  font-size: 4.5rem;
}

.column .text > h4 {
  font-family: Spiegel;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0.5em 0px;
}

.column .text > a {
  font-family: Spiegel;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0.5em 0px;
  width: fit-content;
}

.column .text a:hover:before,
.column .text a:active:before {
  content: "// ";
}

@media (max-width: 550px) {
  .column h1 {
    text-align: center;
  }
  .column > img {
    max-width: 100vw;
    height: auto;
    margin-top: 40px;
  }
  .column {
    flex-direction: column;
    width: 100%;
    padding: 0;
    /* height: 150px; */
  }
  .column .text {
    margin: 5% 0px;
    align-items: center;
  }
  .column .text > h1 {
    font-size: 2.8rem;
  }
  .column .text > h4 {
    font-size: 0.8rem;
    margin: 0.2em 0px;
  }
  .column .text > a {
    font-size: 0.8rem;
    margin: 0.2em 0px;
  }
}

#hero {
  max-width: 1200px;
}

.text {
  margin: 5% auto;
  max-width: 900px;
  width: 100%;
  padding: 5px;
}

.text > h3 {
  font-family: Spiegel;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 6%;
}

.text > p {
  font-family: Spiegel;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;
  /* margin: 0.5em 0px; */
}

.text > img {
  margin: 5% auto;
  width: 100%;
  max-width: 900px;
}

.text iframe {
  margin: 0px auto;
  max-width: 1200px;
  height: 80vh;
  width: 100%;
}

.grey {
  padding: 5% 0px;
  width: 100%;
  background-image: url("images/concrete3.jpg");
  background-size: cover;
}

@media (max-width: 550px) {
  .text {
    width: 100%;
    margin: 20% auto;
  }
  .text > h3 {
    font-size: 1.8rem;
    margin-bottom: 12%;
  }
  .text > p {
    font-size: 1rem;
  }
}

hr {
  width: 30%;
  margin-left: 0px;
  margin-top: 4rem;
  border: 3px solid black;
}

footer {
  margin: 5vw auto;
  max-width: 1200px;
  width: 100%;
}

footer > p {
  font-family: Spiegel;
  font-weight: bold;
  font-size: 0.9375rem;
}

footer > a {
  font-family: Tungsten-semibold;
  font-size: 3rem;
}

footer a:hover:before,
footer a:active:before {
  content: "// ";
}

.gallery {
  border: 3px solid black;
}

.gallery:hover {
  border: 4px solid black;
}

.gallery img {
  width: 100%;
}

.descr {
  font-family: Spiegel;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.6rem;
  padding-top: 0.9rem;
  background-color: black;
  color: white;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 32%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-height: 750px) {
  #hero img {
    margin: 0px 0px;
  }
  #hero .text {
    margin: 0px 0px;
    margin-bottom: 2rem;
  }
}

#gallery {
  max-width: 1200px;
}
